<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checklist for the day</title>
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="mainContainer">
        <div class="headingContainer">
            <p><%= date %></p>
        </div>
    </div>
    <div class="mainContainer">
        <div class="itemContainer">
           <% for(let i = 0 ; i < tasks.length ; i++){ %>
            <form action="/deleteItems" method="post">
                <div class="items">   
                    <input type="checkbox" name="checkBox" value="<%=tasks[i]._id+"$"+date%>"onChange="this.form.submit()">
                    <p><%=tasks[i].name%></p>
                </div>
            </form>
           <% }  %>
            
            <form action="/insertTODO" method="post" class="form">
                <input type="text" name="newItem" placeholder="Enter to your Checklist">
                <button type="submit" name="list_name" value="<%= date %>">+</button>
            </form>
            
        </div>
        
    </div>
    
    
</body>
</html>